
/* レイアウト小の指定 */
#container{
    width: 100%;
    margin: 50px auto;
    background-color: #EEEEEE;
    display: block;
    justify-content: flex-start;
}
#left{
    width: 100%;
    background-color: #aaeeff;
    padding: 0 20px;
    box-sizing: border-box;
}
#right{
    width: 100%;
    background-color: #ffeecc;
    padding: 0 20px;
    box-sizing: border-box;
}


@media (min-width: 768px){
    /* レイアウト大の指定 */
    #container{
        width: 950px;
        background-color: #EEE;
        display: flex;
        justify-content: space-between;
    }
    #left{
        width: 300px;
        padding: 50px 0 200px;
        box-sizing: content-box;
    }
    #right{
        width: 500px;
        padding: 50px 0 200px;
        box-sizing: content-box;
    }
}
